<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <section>
        <li>Item_2</li>
        <li>Item_2</li>
        <li>Item_2</li>

    </section>


    <section>
        <li>Item_2</li>
        <li>Item_2</li>
        <li>Item_2</li>

    </section>


    <section>
        <li>Item_2</li>
        <li>Item_2</li>
        <li>Item_2</li>

    </section>
</footer>

</body>
</html>